@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color: orangered;
    font-size: 36px;
}
p{
    color: black;
    font-size: 18px;
}
nav .nav-link{
    color: black;
    font-size: 20px;
}
.nav-link:hover{
    color: orangered;
}
.btn{
    background-color: transparent;
    color: white;
    border: black solid 1px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn:hover{
    background-color: orangered;
    color: black;
}
#contacto{
    background-image: url(../imagenes/fondo-contacto-2.jfif);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacto h1{
    color: orangered;
    font-size: 36px;
}
#contacto h2{
    color: black;
    font-size: 25px;
}
#contacto p{
    color: white;
    font-size: 18px;
}
#contacto input, textarea{
    border-radius: 15px !important
}
#contacto header nav{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5.0px);
}
#contacto .tabla{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5.0px);
    position: relative;
    top: 50px;
    border-radius: 20px;
}
#contacto .form-control{
    background-color: transparent;
    border: black solid 1px;  
}
#contacto input::placeholder{
    color: white;
}
#contacto textarea::placeholder{
    color: white;
}
input:focus{
    background-color: transparent;
}
#contacto .fa-github{
    color: orangered;
    font-size: 50px;
}
#contacto .fa-linkedin-in{
    color: orangered;
    background-color: transparent;
    padding-left: 10px;
}
#contacto .fa-user{
    color: orangered;
    font-size: 30px;
}
#contacto .fa-map-marker-alt{
    color: orangered;
    font-size: 30px;
}
#contacto .fa-envelope{
    color: orangered;
    font-size: 30px;
}
#contacto .fa-phone-alt{
    color: orangered;
    font-size: 30px;
}
#contacto .sponsor a{
    background-color: white;
    color: black;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 20px 20px 0px;
}
#contacto .sponsor strong{
    background-color: white;
    color: orangered;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px 0px 0px 20px;
}
#contacto .curriculum{
    border-radius: 20px;
    background-color: orangered;
}
#contacto .fa-file-download{
    font-size: 20px
}
#contacto h3{
    font-size: 20px;
}


#proyectos{
    background-image: url("../imagenes/fondo-proyecto.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#proyectos header nav{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5.0px);
}
#proyectos .curriculum{
    border-radius: 20px;
    background-color: orangered;
}
#proyectos .fa-file-download{
    font-size: 20px
}
#proyectos .fa-github{
    color: orangered;
    font-size: 50px;
}
#proyectos .fa-linkedin-in{
    color: orangered;
    background-color: transparent;
    padding-left: 10px;
}
#proyectos .sponsor a{
    background-color: white;
    color: black;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 20px 20px 0px;
}
#proyectos .sponsor strong{
    background-color: white;
    color: orangered;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px 0px 0px 20px;
}
#proyectos h3{
    font-size: 20px;
}
#proyectos h2{
    color: white;
    font-size: 18px;
}
#proyectos img{
    height: 210px;
    padding: 0px;
}
#proyectos .bloquet{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5.0px);
    position: relative;
    top: 50px;
    border-radius: 20px;
}
#proyectos .bloque p{
    padding: 0px;
    height: 90px;
    color: white;
}
#proyectos .bloque a{
    background-color: orangered;
    color: white;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}
#proyectos .gradiente{
    background-color: orangered;
}


#sobre-mi{
    background-image: url(../imagenes/fondo-sobremi3.jpg);
    background-size: 100%;
}
/*
#sobre-mi section{
    background-color: black;
}
*/
#sobre-mi header nav{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5.0px);
}
#sobre-mi .curriculum{
    border-radius: 20px;
    background-color: orangered;
}
#sobre-mi .fa-file-download{
    font-size: 20px
}
#sobre-mi header nav a, h3{
    font-size: 20px;
}
#sobre-mi .tabla{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5.0px);
    position: relative;
    top: 50px;
    border-radius: 20px;
}
#sobre-mi img{
    height: 450px;
}
#sobre-mi .fa-github{
    color: orangered;
    font-size: 50px;
}
#sobre-mi .fa-linkedin-in{
    color: orangered;
    background-color: transparent;
    padding-left: 10px;
    font-size: 50px;
}
#tecnologias .container{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5.0px);
    position: relative;
    top: 80px;
    border-radius: 20px;
}
#tecnologias img{
    height: 200px;
    background-color: white;
}
#tecnologias h2{
    color: orangered;
    font-size: 36px;
}
#tecnologias h3{
    font-size: 16px;
    text-align: center;
    background-color: white;
}
#tecnologias h4{
    font-size: 16px;
    text-align: center;
    background-color: white;
}

#sobre-mi .section-2 .caja-1{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5.0px);
    position: relative;
    border-radius: 20px;
}
#sobre-mi .section-2 .caja-2{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5.0px);
    position: relative;
    border-radius: 20px;
}
#sobre-mi .section-2 img{
height: 30px;
}


#inicio{
    background-image: url("../imagenes/fondo-contacto.png");
    background-size: 100%;
}
#inicio img{
    height: 380px;
}
#inicio p{
    color: white;
    text-align: center;
    font-size: 30px;
    background: transparent;
    border-radius: 50px;
    border-style: solid;
    margin: 20px;
}
#inicio main a{
    color: red;
    background-color: white;
    margin: 20px;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
}

footer, footer a{
    color:white;
    font-weight: 100;
}
footer .fa-github {
    font-size: 50px;
    color: white;
}
footer .fa-linkedin-in {
    color:white;
    background-color:transparent;
    font-size: 50px;
    border-radius: 80px;
    }
.fa-whatsapp{
    position: fixed;
    bottom: 15px;
    right: 30px;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    font-size: 60px;
}
.fa-bars{
    color: red;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}
.navbar-toggler {
     color: #ff4a49;
    border: 1px solid #ff4a49;
}
.navbar-toggler:focus {
    box-shadow: none;
    background-color: #370a6d;
    color: white;
    border: 1px solid white;
}


@media(max-width: 750px) {
    #contacto{
        background-image: url("../imagenes/fondo-proyectos.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    footer .fa-github{
        color: #ff4a49;
    }
    footer, footer a{
        color: #ff4a49;
        text-align: center;
    }
}
